ol {
	padding: 0em;
}

#schedule-an-event-form input {
	padding: 0.5em;
	font-size: 1em;
	font-weight: 600;
	border-radius: 8px;
	border: 2px solid var(--accent-color);
}

button {
	margin-bottom: 0.55em;
	margin-right: 0.55em;
}

#schedule-an-event-form {
	border-radius: 8px;
	padding: 1.5em;
	background-color: var(--dark-background-primary);
	margin-bottom: 1em;
	border: 2px solid var(--accent-color);
}

.label-and-input {
	padding: 0em 1.5em;
}

#schedule-an-event-form label {
	display: inline-block;
	min-width: 20ch;
	font-size: 1em;
	font-weight: 600;
	margin-bottom: 0.55em;
}

#schedule-an-event-form input,
#manage-invitees-button {
	width: calc(100% - 21ch);
	box-sizing: border-box;
	margin-right: 0;
}

#schedule-an-event-form input {
	background-color: transparent;
}

ol li {
	list-style-type: none;
}

.event-all-details,
.event-key-details {
	list-style-type: none;
	text-decoration: none;
	display: block;
	border-radius: 8px;
	padding: 1.5em;
	background-color: var(--dark-background-primary);
	margin-bottom: 1em;
}

.event-all-details:hover,
.event-key-details:hover,
#schedule-an-event-form:hover {
	animation: dark-element-come-closer;
	animation-duration: 0.300s;
	animation-fill-mode: forwards;
}

.event-all-details:hover,
.event-key-details:hover {
	animation-name: dark-element-come-closer;
}

#schedule-an-event-form *:last-child,
.event-all-details *:last-child,
.event-key-details *:last-child {
	margin-bottom: 0em;
}