:root {
	--accent-color: #3b00ff;
	--light-accent-color: #cbbcff;
	--accent-color-half-opacity: #3b00ff55;
	--light-primary: #fefefe;
	--dark-primary: #0e0e0e;
	--dark-background-secondary: #151515;
	--dark-background-primary: #101010;
	--warning-color: #af0707;
	--warning-color-half-opacity: #af070755;
}

:root {
	background-color: var(--dark-background-secondary);
	padding: 0em calc(50vw - 40ch);
}

:root * {
	font-family: SF Pro, Segoe UI, Roboto, Arial;
	color: var(--light-primary);
	max-width: calc(80ch + 1.5em);
}

body {
	margin: 4em;
	margin-top: 2em;
}

section {
	margin-bottom: 1.5em;
}

div {
	margin-bottom: 0.70em;
}

h1 {
	font-size: 2em;
	margin: 0em;
	margin-bottom: 0.75em;
	max-width: 80ch;
}

h2 {
	margin: 0em;
	margin-bottom: 0.80em;
	max-width: 80ch;
}

h3 {
	margin: 0em;
	margin-bottom: 0.85em;
	max-width: 80ch;
}

p {
	margin: 0em;
	margin-bottom: 1em;
	max-width: 80ch;
}

.primary-button,
.secondary-button {
	padding: 0.5em;
	font-size: 1em;
	font-weight: 600;
	border-radius: 8px;
	border: 2px solid var(--accent-color);
}

.primary-button {
	background-color: var(--accent-color);
}

.secondary-button {
	background-color: transparent;
}

button:hover,
input:hover,
button:focus,
input:focus {
	animation-name: accent-element-come-closer;
	animation-duration: 0.300s;
	animation-fill-mode: forwards;
}

button:hover,
button:focus {
	cursor: pointer;
}

.warning {
	border-radius: 8px;
	padding: 1.5em;
	background-color: var(--dark-background-primary);
	margin-bottom: 1em;
	border: 2px solid var(--warning-color);
}

.warning .primary-button,
.warning .secondary-button {
	border-color: var(--warning-color);
}

.warning .primary-button {
	background-color: var(--warning-color);
}

.warning:hover,
.warning:focus {
	animation: warning-element-come-closer;
	animation-duration: 0.300s;
	animation-fill-mode: forwards;
}

.warning button:hover,
.warning input:hover,
.warning button:focus,
.warning input:focus {
	animation-name: warning-element-come-closer;
	animation-duration: 0.300s;
	animation-fill-mode: forwards;
}

.warning:load {
	animation-name: appear;
	animation-duration: 0.300s;
	animation-fill-mode: forwards;
}

@keyframes appear {
	0% { height: 0; }
	100% { height: auto; }
}

@keyframes accent-element-come-closer {
	0% {
		box-shadow: none;
	}
	100% {
		box-shadow: 0px 0px 4px 4px var(--accent-color-half-opacity);
	}
}

@keyframes dark-element-come-closer {
	0% {
		box-shadow: none;
	}
	100% {
		box-shadow: 0px 0px 4px 4px var(--accent-color);
	}
}

@keyframes warning-element-come-closer {
	0% {
		box-shadow: none;
	}
	100% {
		box-shadow: 0px 0px 4px 4px var(--warning-color-half-opacity);
	}
}