ol, ul {
	padding: 0em;
}

input[type="date"],
input[type="time"] {
	cursor: text;
}

#schedule-an-event-form input,
#invitee-management-interface input,
#invitee-search-results {
	padding: 0.5em;
	font-size: 1em;
	font-weight: 600;
	border-radius: 8px;
	border: 2px solid var(--accent-color);
}

button {
	margin-bottom: 0.55em;
	margin-right: 0.55em;
}

#schedule-an-event-form,
#invitee-management-interface {
	border-radius: 8px;
	padding: 1.5em;
	background-color: var(--dark-background-primary);
	margin-bottom: 1em;
	border: 2px solid var(--accent-color);
}

.label-and-input {
	padding: 0em 1.5em;
}

.complementary-information {
	display: block;
}

#schedule-an-event-form label,
#invitee-management-interface label {
	display: inline-block;
	min-width: 20ch;
	font-size: 1em;
	font-weight: 600;
	margin-bottom: 0.55em;
	vertical-align: middle;
}

#schedule-an-event-form input,
#schedule-form-manage-invitees-button,
#invitee-management-interface input,
#invitee-search-results {
	width: calc(100% - 11.38em);
	box-sizing: border-box;
	margin-right: 0;
}

#schedule-an-event-form input,
#invitee-management-interface input,
#invitee-search-results {
	background-color: transparent;
}

#invitee-search-results {
	margin: 0em 1.5em;
	width: calc(100% - 3em);
}

li {
	list-style-type: none;
}

.event-all-details,
.event-key-details,
.invitee {
	list-style-type: none;
	text-decoration: none;
	display: block;
	border-radius: 8px;
	padding: 1.5em;
	background-color: var(--dark-background-primary);
	margin-bottom: 1em;
}

#invitee-search-results li {
	padding: 0.2em;
	margin-bottom: 0.3em;
}

#invitee-search-results li * {
	display: inline-block;
	min-width: 15ch;
}

.secondary-button:hover {
	animation: fill-accent-color 0.100s forwards,
		accent-element-come-closer 0.300s forwards;
}

@keyframes fill-accent-color {
	100% {
		background-color: var(--accent-color);
	}
}

form .primary-button {
	min-width: 200px;
}

#schedule-form-cancel-scheduling-button {
	border: none;
	margin-left: calc(50% - 2em);
}

.event-all-details:hover,
.event-key-details:hover,
#schedule-an-event-form:hover {
	animation: dark-element-come-closer;
	animation-duration: 0.300s;
	animation-fill-mode: forwards;
}

.event-all-details:hover,
.event-key-details:hover {
	animation-name: dark-element-come-closer;
}

#schedule-an-event-form *:last-child,
.event-all-details *:last-child,
.event-key-details *:last-child,
#invitee-management-interface *:last-child,
.invitee *:last-child {
	margin-bottom: 0em;
}