:root {
	--accent-color: #511eff;
	--light-accent-color: #cbbcff;
	--accent-color-half-opacity: #511eff55;
	--light-primary: #fefefe;
	--dark-primary: #0e0e0e;
	--dark-background-secondary: #303030;
	--dark-background-primary: #202020;
}